/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.background {
    background-color: #2C5F2D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%232C5F2D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23316330' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23366832' cx='50' cy='100' r='50'/%3E%3Cg fill='%233b6c35' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23407137' cx='50' cy='200' r='50'/%3E%3Cg fill='%2345763a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234a7a3d' cx='50' cy='300' r='50'/%3E%3Cg fill='%234f7f3f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23548342' cx='50' cy='400' r='50'/%3E%3Cg fill='%23598844' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f8d47' cx='50' cy='500' r='50'/%3E%3Cg fill='%2364914a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2369964c' cx='50' cy='600' r='50'/%3E%3Cg fill='%236f9b4f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23749f52' cx='50' cy='700' r='50'/%3E%3Cg fill='%237aa454' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2380a957' cx='50' cy='800' r='50'/%3E%3Cg fill='%2385ae5a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%238bb25d' cx='50' cy='900' r='50'/%3E%3Cg fill='%2391b75f' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2397BC62' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.pStyle {
    width: 18rem;
}

.gStyle {
    height: 350px;
}

